{% extends 'base.html' %}
{% block head %}
    {{super()}}
{% endblock %}

{% block body %}
    {% from 'set-card.html' import card %}
    <br>
    <div class="row">
        <div class="col-2">
            <img src="{{ url_for('static', filename=user.avatar) }}" style="width:100%">
        </div>
        <div class="col-9 my-auto">
            <h1>{{ user.name }}</h1>
            {% if user.bio %}
                <h6><i>{{ user.bio }}</i></h6>
            {% endif %}
        </div>
    {% if your_profile %}
        <div class="col-1">
            <a href="{{ url_for('auth.settings') }}"><button type="button" class="btn btn-warning">Edit</button></a>
        </div>
    {% endif %}
    </div>
    <br>
    <div class="title-text"><h3>Created Sets</h3></div>
        <div class="card-deck mb-3 text-dark">
            {% for set in sets %}
                {{ card(set, user) }}
            {% endfor %}
        </div>
{% endblock %}

<!-- /profile/<username>?user_id=# -->